.grand_line {
	padding-top: 2% !important;
}
.row {
	width: 95%;
	margin: auto !important;
}
.medium_line {
	/* margin-top: 1%!important;
    margin-left: 1%!important; */
	width: 100%;
	padding: 3px 3%;
}
.title {
	border-bottom: solid #287eed 2px;
	width: 95%;
}
.exp_and_comp {
	margin: 0px !important;
	width: 100%;
	display: inline-block !important;
}
.subtitle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.row_block{
    margin-bottom: 15px!important;
}
.subtitle {
	max-width: 27%!important;
	justify-content: flex-start;
}
.competence{
	min-width: 12.5%!important;
	max-width: 12.5%!important;
	display: flex;
    flex-direction: column;
}
.padd {
	/* padding-left: 2%; */
}
body {
	/* background-color: #161617!important; */
	/* color: #c2c2c2 !important; */
}
.icon {
	/* width: 7%; */
}

@media screen and (max-width: 576px) {
	.container-sm {
		margin-left: 6% !important;
	}
}
