.grand_line {
    padding-top: 2%!important;
}
.row {
    width: 85%;
    margin: auto!important;
}
.medium_line {
    margin-top: 1%!important;
    margin-left: 1%!important;
}
.title {
    border-bottom: solid #287eed 2px;
    width:95%;
}
.padd {
    padding-left: 2%;
}
body {
    /* background-color: #161617!important; */
    /* color: #c2c2c2 !important; */
}
.icon {
    width: 7%;
}

@media screen and (max-width: 576px) {
   .container-sm {
       margin-left: 6% !important;
   }
  }